* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: aliceblue;
    height: 100vh;
}

.flex-container {
    font-size: larger;
    background-color: #141415;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.list {
    display: flex;
    list-style: none;
    gap: 1rem;
}

main {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabata-container {
    padding-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #141415;
    width: 700px;
    height: 700px;
}

.main-timer {
    background-color: aliceblue;
    color: #141415;
}

.label  {
    display: block;
    margin-top: 1rem;
}

.value {
    display: block;
    font-size: 125px;
    margin-top: 5rem;
}
.timer-container {
    text-align: center;
    width: 700px;
    display: flex;
    background-color: #141415;
    justify-content: space-around;
    gap: 1rem;
    
}

.prepare, .work, .rest {
    color: #141415;
    padding: 2rem;
    border-radius: 10%;
    flex: auto;
    
}

.prepare {

    background-color: yellow;

    
}

.work {

    background-color: green;
    
}
.rest {

    background-color: red;
    
}
